// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
// $body-bg: #000;
// $body-color: white;
// $primary: hotpink;
// // $font-family-base: Arial;

body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.dropdown {
  margin-top: 1%;
}

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
body {
  padding: 20px;
}
.container {
  margin-top: 2%;
}
